<div class="wrapper">
  <h3>{{localize "nhb.ability" ability}}</h3>
  {{#if (eq roll.result 1) }}
    <h4 class="text-success">{{localize "nhb.chat.critical-success"}}</h4>
  {{else if (eq roll.result 20) }}
    <h4 class="text-danger">{{localize "nhb.chat.critical-failure"}}</h4>
  {{else if (gt total roll.result) }}
    <h4 class="text-success">{{localize "nhb.chat.success"}}</h4>
  {{else}}
    <h4 class="text-danger">{{localize "nhb.chat.failure"}}</h4>
  {{/if}}
  <span>
    {{roll.result}} - {{total}} ({{value}} + {{temp}} + {{mod}})
  </span>
</div>