<h2>{{localize "NAHEULBEUK.Senses.Title"}}</h2>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.languages"
         class="resource-label align-left">{{localize "NAHEULBEUK.Senses.Languages"}}</label>
  <input type="text" name="data.attributes.senses.languages" value="{{data.attributes.senses.languages}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.vision"
         class="resource-label align-left">{{localize "NAHEULBEUK.Senses.Vision"}}</label>
  <input type="text" name="data.attributes.senses.vision" value="{{data.attributes.senses.vision}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.nyctalopia"
         class="resource-label align-left">{{localize "NAHEULBEUK.Senses.Nyctalopia"}}</label>
  <input type="text" name="data.attributes.senses.nyctalopia" value="{{data.attributes.senses.nyctalopia}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.hearing"
         class="resource-label align-left">{{localize "NAHEULBEUK.Senses.Hearing"}}</label>
  <input type="text" name="data.attributes.senses.hearing" value="{{data.attributes.senses.hearing}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.smell"
         class="resource-label align-left">{{localize "NAHEULBEUK.Senses.Smell"}}</label>
  <input type="text" name="data.attributes.senses.smell" value="{{data.attributes.senses.smell}}"
         data-dtype="string"/>
</div>