<h2>{{localize "nhb.protections.title"}}</h2>

<div class="ability flexrow flex-group-center">
    <label for="data.protections.natural"
           class="resource-label flexlarge align-left">{{localize "nhb.protections.natural"}}</label>
    <p class="small-number">{{data.protections.natural.total}}</p>
    <input class="small-number" type="text" name="data.protections.natural.value" value="{{data.protections.natural.value}}"
           data-dtype="Number" disabled/>
    <input class="small-number" type="text" name="data.protections.natural.temp" value="{{data.protections.natural.temp}}"
           data-dtype="Number"/>
</div>

<div class="ability flexrow flex-group-center">
    <label for="data.protections.magical"
           class="resource-label flexlarge align-left">{{localize "nhb.protections.magical"}}</label>
    <p class="small-number">{{data.protections.magical.total}}</p>
    <input class="small-number" type="text" name="data.protections.magical.value" value="{{data.protections.magical.value}}"
           data-dtype="Number" disabled/>
    <input class="small-number" type="text" name="data.protections.magical.temp" value="{{data.protections.magical.temp}}"
           data-dtype="Number"/>
</div>