<h2>{{localize "nhb.sense.title"}}</h2>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.languages"
         class="resource-label align-left">{{localize "nhb.sense.languages"}}</label>
  <input type="text" name="data.attributes.senses.languages" value="{{data.attributes.senses.languages}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.vision"
         class="resource-label align-left">{{localize "nhb.sense.vision"}}</label>
  <input type="text" name="data.attributes.senses.vision" value="{{data.attributes.senses.vision}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.nyctalopia"
         class="resource-label align-left">{{localize "nhb.sense.nyctalopia"}}</label>
  <input type="text" name="data.attributes.senses.nyctalopia" value="{{data.attributes.senses.nyctalopia}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.hearing"
         class="resource-label align-left">{{localize "nhb.sense.hearing"}}</label>
  <input type="text" name="data.attributes.senses.hearing" value="{{data.attributes.senses.hearing}}"
         data-dtype="string"/>
</div>

<div class="ability flexrow flex-group-center">
  <label for="data.attributes.senses.smell"
         class="resource-label align-left">{{localize "nhb.sense.smell"}}</label>
  <input type="text" name="data.attributes.senses.smell" value="{{data.attributes.senses.smell}}"
         data-dtype="string"/>
</div>