<div class="resource flex-group-center">
  <label for="data.attributes.level" class="resource-label">{{localize "nhb.actor.level"}}</label>
  <div class="resource-content flexrow flex-center flex-between">
    <p>{{data.attributes.level}}</p>
  </div>
</div>
<div class="resource flex-group-center">
  <label for="data.attributes.xp" class="resource-label">{{localize "nhb.actor.experience"}}</label>
  <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="data.attributes.xp" value="{{data.attributes.xp}}"
           data-dtype="Number"/>
  </div>
</div>